# Ignore node_modules directory
node_modules/

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore log files
*.log

# Ignore compiled files (example: compiled JavaScript)
*.js

#package-lock.json

#.vscode